@import "tailwindcss";

@theme {
  --color-primary: #029374;
  --color-primary-hover: #027761;
  --color-secondary: #F9A826;
  --color-dark: #1E293B;
  --color-graymid: #64748B;
  --color-light: #F8FAFC;
  --color-success: #10B981;
  --color-warning: #F59E0B;
  --color-danger: #EF4444;
  --color-accent: #D1FAE5;
}